---
---
@charset "utf-8";

// Our variables
$base-font-family: 'Roboto Slab', serif;
$head-font-family: 'Roboto Condensed', sans-serif;
$base-font-size:   16px;
$base-line-height: 1.5;

$spacing-unit:     20px;

$base00:    #657b83; // body color
$base01:    #586e75; // emphasis
$base2:     #eee8d5; // lines
$base3:     #fdf6e3; // background
$cyan:      #2aa198; // headers
$blue:      #268bd2; // links

$base03:    #002b36;
$base02:    #073642;
$base0:     #839496;
$base1:     #93a1a1;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$green:     #859900;

$on-palm:          400px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) { @media screen and (max-width: $device) { @content; } }

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout"
;