.quick-info {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  border-top: 2px solid #eee8d5;
  border-bottom: 2px solid #eee8d5;
}

article p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.photo-small {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 80px;
    
  background-color: #fff;
}

.photo-big {
  margin-top: 10px;
  margin-bottom: 30px;
}

article a:hover {
  border: none;
}

article img, .pf-item {
  transition-property: box-shadow;
  transition-duration: 333ms;
  transition-timing-function: ease-in-out;
}

article img:hover, .pf-item:hover {
  box-shadow: 0 1px 4px 1px rgba(0,0,0,0.3);
}

#more {
  margin-bottom: 40px;
}

#more .pf-item {
  height: 100px;
  margin-top: 1%;
  margin-bottom: 1%;
}