/*
 * Reset
 */
body,
nav,
footer,
section,
div,
img,
a,
p,
h1,
h2,
h3,
h4
{
  padding: 0;
  margin: 0;
}

/*
 * Text Elements
 */
p, h4, li {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 18px;
  line-height: 1.65;
  
  color: #586e75;
}

h1 {
  margin-bottom: 10px;
  
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 54px;
  font-weight: 300;
    
  color: #2aa198;
}

h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  
  border-top: 2px solid #eee8d5;
  border-bottom: 2px solid #eee8d5;
  color: #2aa198;
}

h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 27px;
  font-weight: normal;
  
  color: #2aa198;
}

h4 {
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

a:link {
  text-decoration: none;
  
  color: #268bd2;
}

a:hover {
  border-bottom: 1px solid #268bd2;
}

a:active {
  border-bottom: 2px solid #268bd2;
}

a:visited {
  color: #6c71c4;
}

/*
 * Layout
 */
.content {
  width: 58%;
  margin-left: auto;
  margin-right: auto;
}

.whole, .photo-big {
  width: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

.half {
  float: left;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
}

.third {
  float: left;
  width: 31.33%;
  margin-left: 1%;
  margin-right: 1%;
}

.third-two {
  float: left;
  width: 64.66%;
  margin-left: 1%;
  margin-right: 1%;
}

.quarter {
  float: left;
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
}

.content:after {
  content: ".";
  visibility: hidden;
  display: block;
  font-size: 0;
  clear: both;
}

/*
 * Styles
 */
body {  
  background-color: #fdf6e3;
}

nav {
  position: fixed;
  width: 100%;
  
  background-color: #fdf6e3;
  border-bottom: 2px solid #eee8d5;
  z-index: 10000;
}

nav a:link {
  display: inline-block;
  padding: 20px;
  max-height: 60px;
  
  font-family: 'Roboto Slab', sans-serif;
  
  box-sizing: border-box;
  transition-property: background, border-width;
  transition-duration: 333ms;
}

nav a:hover {
  background-color: #eee8d5;
}

nav ul {
  display: table;
  float: right;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

nav li {
  display: table-cell;
}

footer {
  padding: 20px;
  
  border-top: 2px solid #eee8d5;
}

#about, .fold {
  padding-top: 102px;
}

#about {
  text-align: center;
}

#about img {
  margin-bottom: 30px;
}

.intro, article p, article h3, article ul {
  margin-left: auto;
  margin-right: auto;
  width: 76%;
}

.pf-item {
  height: 300px;
}

.pf-item .content {
  display: table;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  width: 80%;
  
  opacity: 0;
  
  transition-property: opacity;
  transition-duration: 300ms;
}

.pf-item .content span {
  display: table-cell;
  vertical-align: middle;
}

.pf-item.white .content h3,
.pf-item.white .content p {
  color:#fff;
}

.pf-item:hover .content {
  opacity: 1.0;
  border: none;
  z-index: 9999;
}

.pf-item#foamfest {
  background-image: url("/assets/5KFoamFest-title.png"), linear-gradient(#006af6,#006af6);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pf-item#foamfest .content {
  background-color: rgba(0,106,246,0.9);
}

.pf-item#elementary {
  background-image: url("/assets/elementary-title.png"), linear-gradient(#fff,#fff);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pf-item#elementary .content {  
  background-color: rgba(255,255,255,0.9);
}

.pf-item#stranded {
  background-image: url("/assets/stranded-title.png"), linear-gradient(#000,#000);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pf-item#stranded .content {
  background-color: rgba(0,0,0,0.9);
}
