/*
 * Reset
 */
body,
nav,
footer,
section,
div,
img,
a,
p,
h1,
h2,
h3
{
  padding: 0;
  margin: 0;
}

/*
 * Text Elements
 */
p {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  
  color: #586e75;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 54px;
  font-weight: 300;
    
  color: #2aa198;
}

h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  
  border-top: 2px solid #eee8d5;
  border-bottom: 2px solid #eee8d5;
  color: #2aa198;
}

h3 {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 27px;
  font-weight: normal;
  
  color: #2aa198;
}

a:link {
  font-family: 'Roboto Slab', sans-serif;
  text-decoration: none;
  
  color: #268bd2;
}

a:hover {
  border-bottom: 1px solid #268bd2;
}

a:active {
  border-bottom: 2px solid #268bd2;
}

a:visited {
  color: #6c71c4;
}

/*
 * Layout
 */
.content {
  width: 58%;
  margin-left: auto;
  margin-right: auto;
}

.half {
  float: left;
  width: 48%;
  margin-left: 1%;
  margin-right: 1%;
}

.third {
  float: left;
  width: 31%;
  margin-left: 1%;
  margin-right: 1%;
}

.quarter {
  float: left;
  width: 23%;
  margin-left: 1%;
  margin-right: 1%;
}

.content:after {
  content: ".";
  visibility: hidden;
  display: block;
  font-size: 0;
  clear: both;
}

nav a:link {
  display: inline-block;
  padding: 20px;
  max-height: 60px;
  
  box-sizing: border-box;
}

/*
 * Styles
 */
body {  
  background-color: #fdf6e3;
}

nav {
  position: fixed;
  width: 100%;
  
  background-color: #fdf6e3;
  border-bottom: 2px solid #eee8d5;
}

nav a#home {
  text-transform: uppercase;
}

nav a:not(#home) {
  float: right;
}

footer {
  margin-top: 40px;
  padding: 20px;
  
  border-top: 2px solid #eee8d5;
}

#about {
  padding-top: 102px;
  text-align: center;
}

.pf-item {
  height: 100%;
  border-radius: 4px;
}

.pf-item .content {
  width: 80%;
  padding: 10%;
  display: inline-block;
  
  border-radius: 4px;
  opacity: 0;
  
  transition-property: opacity;
  transition-duration: 300ms;
}

.pf-item .content h3,
.pf-item .content p,
.pf-item .content a:link {
  color:#fff;
}

.pf-item:hover .content {
  opacity: 1.0;
  border: none;
}

.pf-item#foamfest {
  background-image: url("/assets/5KFoamFest-title.png"), linear-gradient(#006af6,#006af6);
  background-position: center;
  background-repeat: no-repeat;
}

.pf-item#foamfest .content {
  background-color: rgba(0,106,246,0.8);
}

.pf-item#stranded {
  background-image: url("/assets/stranded-title.png"), linear-gradient(#000,#000);
  background-position: center;
  background-repeat: no-repeat;
}

.pf-item#stranded .content {
  background-color: rgba(0,0,0,0.8);
}