/* Typography */
p {
  margin-bottom: 10px;
  
  color: #222;
  font: normal 16px "Poly", serif;
  line-height: 1.6;
  transition: color 500ms ease-out
}

  p:hover {
    color: #000;
    transition: color 500ms ease-in;
  }

h1,
h2,
h3,
h4 {  
  color: #444;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

  h1 {
    font-size: 48px;
    text-align: center;
  }

  h2 { 
    position:relative;
    top: 7%;
    
    font-size: 40px;
    text-align: center;
  }

  h3 {
    margin-bottom: 10px;
    
    font-size: 32px;
  }

  h4 { font-size: 24px; }

ul {
  margin-left: 20px;
  
  color: #222;
  font: normal 16px "Poly", serif;
  line-height: 1.5;
  
  list-style-position: outside;
  list-style-type: square;
}

.bold {
  font-weight: bold;
  text-decoration: underline;
}

.underline { text-decoration: underline; }

.quote {
  margin-bottom: 20px;
  
  font-size: 20px;
  font-style: italic;
}

.info { font-size: 12px; }

body {
  /* Positioning */
  position: absolute;
  
  /* Box-model */ 
  display: block;
  height: 100%;
  width: 100%;
}

.slide {
  /* Box-model */
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  
  /* Visual */
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

  .slide.odd { background-color: #fafafa; }

.col1 {
  display: inline;
  float: left;
  margin: 0 2%;
  width: 20%;
}

#title {}

  #title h1 {
    /* Positioning */
    position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);

    /* Box-model */
    width: 100%;
  }

#definitions {
  height: 200%;
  padding-left: 4%;
  width: 96%;
}

  #definitions h2 {
    top: 3.5%;
    
    margin-bottom: 6.5%;
    width: 96%;
  }

  #definitions .col1 {
    height: 25.5%;
    margin: 2%;
  }

#collision { }

  #collision .content {
    position: relative;
    top: 40%;
      -webkit-transform: translateY(-50%);
         -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    
    margin: auto;
    width: 50%;
  }

#factors { }

  #factors .content {
    height: 80%;
    margin-left: 2%;
  }
  
  #factors h2 {
    top: 7%;
    
    margin-bottom: 7%;
    width: 96%;
  }

  #factors .col1 {
    height: 100%;
  }