p {
  font: normal 16px "Poly", serif;
  line-height: 1.6;
  color: #222;
}

h1 {
  font: 300 48px "Oswald", sans-serif;
  color: #444;
  text-transform: uppercase;
}

h2 {
  font: 300 40px "Oswald", sans-serif;
  color: #444;
  text-transform: uppercase;
}

h3 {
  font: 300 32px "Oswald", sans-serif;
  color: #444;
  text-transform: uppercase;
}

h4 {
  font: 300 24px "Oswald", sans-serif;
  color: #444;
  text-transform: uppercase;
}

ul {
  font: normal 16px "Poly", serif;
  line-height: 1.5;
  list-style-type: square;
  list-style-position: inside;
}

.bold {
  font-weight: bolder;
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.quote {
  margin-bottom: 20px;
  font-style: italic;
  font-size: 20px;
}

body {
  position: absolute;
  
  display: block;
  width: 100%;
  height: 100%;
}

#title {
  display: block;
  width: 100%;
  height: 100%;
  
  background-color: #fafafa;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  text-align: center;
}

#title h1 {
  position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
  width: 100%;
}

#definitions {
  display: block;
  padding-left: 4%;
  width: 96%;
  height: 200%;
}

#definitions h2 {
  width: 96%;
  margin: 6% 0;
  text-align: center;
}

.word {
  display: inline;
  width: 20%;
  height: 25.5%;
  margin: 2%;
  float: left;
}

#collision {
  display: block;
  width: 100%;
  height: 100%;
  
  background-color: #fafafa;
  border-top: 1px solid rgba(0,0,0,0.05);
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

#collision h2 {
  position: relative;
  top: 10%;
  text-align: center;
}

#collision .content {
  position: relative;
  position: relative;
  top: 40%;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
  width: 50%;
  margin: auto;
  
}