body,
div,
nav,
ul,
li,
a,
img,
h3,
input,
p {
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
}

a:link {
  text-decoration: none;
}

h3 {
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  
  color: rgba(0,0,0,0.6);
  text-shadow: 0 1px rgba(255,255,255,0.8);
}

.window-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  
  float: left;
  display: inline-block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
}

body {
  background-image: url("Ryan%20Schroeder.jpg");
  background-size: cover;
}

.window {
  width: 80%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,0.35);
  box-shadow: 0 4px 60px 12px rgba(0,0,0,0.7);
}

.sidebar h3 {
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 6px;
  margin-left: 12px;
}

nav {
  float: left;
  width: 100%;
  
  background: linear-gradient(#e7e7e7, #bfbfbf);
  padding: 12px;
  
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid rgba(0,0,0,0.35);
  box-shadow: inset 0 -1px rgba(255,255,255,0.35), 0 2px 2px rgba(0,0,0,0.2);
  box-sizing: border-box;
  z-index: 2;
}

nav:after {
  content: ".";
  visibility: hidden;
  display: block;
  font-size: 0;
  clear: both;
}

ul {
  list-style: none;
  font-size: 0;
}

nav li {
  display: inline;
}

.left {
  float: left;
}

.button-window {
  display: inline-block;
  height: 32px;
  vertical-align: top;
  
  margin-right: 20px;
}

.button-window:nth-child(3) {
  margin-left: 20px;
  margin-right: 0;
}

.button-window img {
  margin-top: 8px;
}

.button-toolbar {
  display: inline-block;
  width: 32px;
  height: 32px;
}

.left .button-toolbar {
  margin-right: 4px;
}

.right .button-toolbar {
  margin-left: 4px;
}

.button-toolbar img {
  margin-top: 4px;
  margin-left: 4px;
}

.button-toolbar:hover {
  background-color: rgba(0,0,0,0.1);
  border-radius: 16px;
}

.button-view {
  display: inline-block;
  width: 30px;
  height: 24px;
  margin-top: 4px;
  vertical-align: top;
  
  border: 1px solid rgba(0,0,0,0.3);
  box-shadow: inset 0 1px rgba(255,255,255,0.8), 0 1px rgba(255,255,255,0.8);
}

.button-view img {
  margin-top: 4px;
  margin-left: 7px;
}

.button-view:hover {
  background-color: rgba(0,0,0,0.1);
}

.button-view:active, .button-view.selected {
  background-color: rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.15), 0 1px rgba(255,255,255,0.8);
}

.button-view:nth-child(5) {
  margin-left: 8px;
  
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.button-view:nth-child(6) {
  border-left: none;
  border-right: none;
}

.button-view:nth-child(7) {
  margin-right: 8px;
  
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.right {
  float: right;
}

.search {
  display: inline-block;
  width: 154px;
  height: 20px;
  padding: 2px;
  padding-left: 24px;
  margin-top: 4px;
  margin-left: 12px;
  margin-right: 4px;
  vertical-align: top;
  
  background-image: url("edit-find-symbolic.svg"), linear-gradient(#ebebeb, #fff);
  background-repeat: no-repeat;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.4);
  box-shadow: inset 1px 2px 2px rgba(0,0,0,0.1), 0 1px rgba(255,255,255,0.8);
}

.search:hover {
  border: 1px solid rgba(0,0,0,0.5);
}

.search:focus {
  outline: none;
  border: 1px solid #08c;
}

.sidebar.left {
  float: none;
  width: 200px;
  height: 100%;
  
  background-color: #e3e3e3;
  border-right: 1px solid rgba(0,0,0,0.2);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.sidebar li {
  display: table;
  width: 100%;
  height: 24px;
  padding-left: 24px;
  
  box-sizing: border-box;
}

.sidebar li:hover {
  background-color: rgba(255,255,255,0.4);
}

.sidebar li:active, .sidebar li.selected {  
  background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.1));
  border-top: 1px solid rgba(0,0,0,0.15);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  box-shadow: 0 1px rgba(255,255,255,0.8);
}

.sidebar li img {
  margin-top: 4px;
}

.sidebar li p {
  display: table-cell;
  width: 100%;
  padding-left: 6px;
  
  color: #333;
  font-size: 12px;
  text-shadow: 0 1px rgba(255,255,255,0.8);
  vertical-align: middle;
}