/* Fonts */

p, h1, h2, h3, a {
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 { font-size: 24px; }

h3 { font-weight: bold; }

a, a p {
  color: #08c;
  text-decoration: none;
}

a:hover, a p:hover { color: #00527c; }

a:active { color: #00527c; }

li {
  margin-top: 6px;
  margin-bottom: 6px;
}

/* alignment and stuff */

body, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

nav {
  position: fixed;
  width: 100%;
  padding: 36px 0;
  z-index: 1000;
}

  nav ul {
    height: 48px;
  }

    nav ul li { 
      display: inline; 
      z-index: 1001;
    }

      nav ul li a, #empty {
        box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.14);
        color: #333;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
           border-top: 1px solid rgba(0, 0, 0, 0.2);
        padding: 17px 24px;
        background: #f2f2f2; /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.95) 0%, rgba(242, 242, 242, 0.95) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, 0.95)), color-stop(100%,rgba(242, 242, 242, 0.95))); /* Chrome,Safari4+ */
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        float: left;
      }

        #empty { 
          margin-top: 0px;
          padding: 23px 218px;
        }

        nav ul li a#first {
          padding: 8px 12px;
          border-left: 1px solid rgba(0, 0, 0, 0.2);
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
        }

        nav ul li a#last {
          border-right: 1px solid rgba(0, 0, 0, 0.2);
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
          
          float: right;
        }

.page-container {
  position: relative;
  width: 948px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

  .page-head {
    display: table;
    padding-top: 132px;
    margin-bottom: 60px;
  }

    .page-head img {
      display: inline;
      float: left;
    }

    .page-head h2 {
      display: table-cell;
      vertical-align: middle;
      padding-left: 12px;
    }

  .page-link {
    position: absolute;
    bottom: 0px;
    display: table;
    margin-bottom: 120px;
    width: 25%;
  }

    .page-link a img {
      float: left;
    }

    .page-link a p {
      display: table-cell;
      vertical-align: middle;
      padding-left: 6px;
    }

section {
  display: block;
  height: 100%;
  width: 100%;
  
  border-bottom-color: rgba(0, 0, 0, 0.05);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

  section.odd { background-color: #f9f9f9; }

  section.even { background-color: #fdfdff; }


.div-5 {
  float: left;
  width: 20%;
}

.div-2 {
  float: left;
  width: 50%;
}