/* Site header */
.site-header {
  border-bottom: 1px solid $base2;
  min-height: $spacing-unit * 3;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  color: $cyan;
  font-family: $head-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: $spacing-unit * 3;
  margin-bottom: 0;
  float: left;
  text-transform: uppercase;
}

.site-nav {
  float: right;
  line-height: $spacing-unit * 3;

  .menu-icon {
    display: none;
  }

  .page-link {
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) { margin-left: $spacing-unit; }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $base3;
    border: 1px solid $base2;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $base1;
        }
      }
    }

    .trigger {
        clear: both;
        display: none;
    }

    &:hover .trigger {
        display: block;
        padding-bottom: 5px;
    }

    .page-link {
        display: block;
        padding: 5px 10px;
    }
  }
}

/* About me on the home page */
.about-excerpt, .portfolio-head {
  
  border-bottom: 2px solid $base2;
  margin: ($spacing-unit * 2) 0;
  
  p {
    max-width: ($on-laptop + ($spacing-unit * 2)) / 1.618;
    text-align: center;
    margin: 0 auto ($spacing-unit * 2);
  }
  
  img {
    display: block;
    margin: 0 auto $spacing-unit;
  }
}

/* Site footer */
.site-footer {
  border-top: 1px solid $base2;
  padding: $spacing-unit 0;
}

.footer-list {
	display: inline;
	margin: 0;
  list-style: none;
  
  li {
	  float: left;
    margin-right: $spacing-unit / 2;
	}
}

.post-list {
  margin: 0;
  list-style: none;

  > li {
    border-bottom: 1px solid $base2;
    margin-top: $spacing-unit * 2;
    
    p {
      margin-bottom: $spacing-unit * 2;
    }
    	
  }
}

.button {
  display: inline-block;
  background-color: $blue;
  color: #fff;
  padding: 0 $spacing-unit;
  border-radius: 4px;
  line-height: $spacing-unit * 3;
  margin: ($spacing-unit * 2) 0;
  
  &:visited { background-color: $blue; }
}

.post-link {
  display: block;
  line-height: 1;
  margin-bottom: $spacing-unit;
}

/* Posts */
.post-header { 
  margin: ($spacing-unit * 2) 0;
  border-bottom: 2px solid $base2;
  
  h1 {
    margin-bottom: ($spacing-unit * 2);
  }
}

.post-content { margin: ($spacing-unit * 2) 0; }

