p {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.6;
	margin-bottom: 80px;
        margin-top: 20px;
}

h1 {
	font-family: "Raleway", sans-serif;
	font-size: 32px;
	color: #333;
	line-height: 1.2;
	margin-bottom: 0px;
        margin-top: 80px;
}

h2 {
	font-family: "Raleway", sans-serif;
	font-size: 26px;
	color: #333;
}

h3 {
	font-family: "Raleway", sans-serif;
	font-size: 21px;
	color: #333;
}

a {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	text-decoration: none;
        margin: 10px;
        padding: 10px 0;
}