body {
    background-color: #f2f4f6;
    
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-style: ;
    line-height: 2em;
    text-align: left;
    text-shadow: ;
}
p {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-style: ;
    line-height: 2em;
    text-align: left;
    text-shadow: ;
}

h1 {
    color: #333;
    font-family: "Raleway Light", sans-serif;
    font-size: 4em;
    font-style: ;
    line-height: 1em;
    text-align: left;
    text-shadow: ;
}

h2 {
    color: #333;
    font-family: "Raleway Light", sans-serif;
    font-size: 2em;
    font-style: ;
    line-height: 1em;
    text-align: left;
    text-shadow: ;
}

h3 {
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    font-style: ;
    line-height: ;
    text-align: left;
    text-shadow: ;
}

h4 {
    color: #333;
    font-family: "Open Sans Light", sans-serif;
    font-size: 2em;
    font-style: ;
    line-height: ;
    text-align: left;
    text-shadow: ;
}

a {
    color: #08c;
    font-family: "Open Sans", sans-serif;
    font-size: ;
    font-style: ;
    line-height: ;
    text-align: left;
    text-shadow: ;
}

footer {
    
}

hr {
    height: 1px;
    background: ;
}