/* I got the reset */
body, div, p, h1, h2, h3, ul, a, img {
	color: fff;
	margin: 0;
	padding: 0;
	line-height: 1;
}

body {
	background: url(images/bg.png);
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	min-width: 840px;
}

#overlay {
	transition: opacity 1s;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	display: block;
	background: #000;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

/* ------------------------------------------------ */
/* STYLES ----------------------------------------- */
/* ------------------------------------------------ */

/* Backgrounds */
.black {
	background-color: #000;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

	#merchbg {background: rgba(51, 51, 51, 0.2);}

.caption {opacity: 0.5;}

/* Bullet */
li.bbullet {
	list-style-image: url(images/bullet.png);
	list-style-position:inside;
	margin-left: 10px;
	margin-top: 10px;
}

/* ---------------------------------- */
/* FONT STYLES ---------------------- */
/* ---------------------------------- */

/* Headings */
h1 {
	font-family: 'Six Caps', sans-serif;
	font-size: 54px;
	font-weight: normal;
	letter-spacing: 3px;
}

h2 {
	font-family: 'Six Caps', sans-serif;
	font-size: 32px;
	font-weight: normal;
	letter-spacing: 1px;
	line-height: 1.2;
	margin-top: 10px;
}

/* Links */
a {
	color: #fff;
	text-decoration: none;
	transition: margin-top 250ms;
}

	a:visited {
		color: #ddd;
		text-decoration: none;
	}

	a.storeitem:hover {
		margin-top: -10px;
		transition: margin-top 500ms;
	}

/* Footer */
footer, .subhead {
	font-family: 'Six Caps', sans-serif;
	font-size: 28px;
	text-align: center;
}

	.subhead {font-size: 23px;}

/* Paragraphs */
p {line-height: 1.5; }
	p.quote {font-style: italic;}

/* ------------------------------------------------------------ */
/* Store ------------------------------------------------------ */
/* ------------------------------------------------------------ */

.storeitem {
	display: block;
	float: left;
	margin: 0 10px;
}

	.price {
		background: rgba(17,17,17,0.8);
		border-radius: 3px;
		display: table;
		font-size: 12px;
		margin: 0 10px;
		padding: 5px 10px;
		position: relative;
		top: 234px;
	}

	.store {font-size: 12px;}

	.preview {height: 272px;}

		.preview.poster {width: 192px;}

			#p1 {background-image: url(images/promo1-small.png);}

			#p2 {background-image: url(images/promo2-small.png);}

			#p3 {background-image: url(images/promo3-small.png);}

		.preview.cd {width: 272px;}

			#c1 {background-image: url(images/ost-small.png);}

			#c2 {background-image: url(images/remixes-small.png);}

/* ----------------------------------------------- */
/* LAYOUT ---------------------------------------- */
/* ----------------------------------------------- */

.contents{
	margin:0 auto;
	padding:0;
	position:relative;
	height:100%;
	width: 100%;
}

	#story.contents, #buynow.contents {width: 840px;}

	#merch.contents {width: 1220px;}

.onefifth {
	width: 20%;
	display: inline;
	float: left;
}

	.onefifth.first {padding-left: 20%;}

	.onefifth.quote {
		padding-left: 20%;
		margin-top: 7%;
	}

	.onefifth.story, .onefifth.buynow {
		width: 260px;
		margin-right: 10px;
		margin-left: 10px;
	}

.whole {
	clear:both;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

	.whole:after {
	  content: "";
	  display: table;
	  clear: both;
	}

footer.credits {
	position: absolute;
	bottom: 4px;
	letter-spacing: 1px;
	margin: 0 auto;
	width: 100%;
}

header.main {
	position: absolute;
	text-align: center;
	width: 100%;
}

.block {
	display: block;
	width: 100%;
}

	.center {margin: 0 auto;}

	.block.center {text-align: center;}

	h1.block.center {
		margin-top: 30px;
		margin-bottom: 30px;
	}

.storyimg {
	margin-bottom: 10px;
}

.vertalign {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.vertalign.video {
	-webkit-transform: translateY(-47%);
	-moz-transform: translateY(-47%);
	-ms-transform: translateY(-47%);
	transform: translateY(-47%);
}

/* Scroll Links */
a.scroll-link{
	position:absolute;
	right:10px;
	font-size:80%;
	font-weight:700;
	color:#fff;
	text-decoration:none;
	text-shadow:0 2px 4px rgba(0,0,0,.75);
	transition: color 750ms, text-shadow 750ms;
}

	a.scroll-link#prev{
		top:10px;
	}

		body.viewing-page-1 a.scroll-link#prev, body.viewing-page-4 a.scroll-link#next{
			color:transparent;
			text-shadow:none;
		}

	a.scroll-link#next{
		bottom:10px;
	}

		body.viewing-page-6 a.scroll-link#next{
			color:transparent;
			text-shadow:none;
		}

	a.scroll-link:hover{
		text-decoration:none;
	}

/* Scroll Overrides */
.onepage-pagination {
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.onepage-pagination li a:before{
	background:rgba(255,255,255,.85);
	box-shadow:0 2px 4px rgba(0,0,0,.75);
	/*transition: background 750ms, box-shadow 750ms;*/
}

.onepage-pagination li a.active:before{
	background:#fff;
	border:1px solid #fff;
	/*transition: background 750ms, border 750ms;*/
}